html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*основные стили*/
* {
  box-sizing: border-box;
}
h2 {
  font-size: 32px;
  font-family: 'Philosopher', sans-serif;
  margin-top: 70px;
  margin-bottom: 40px;
}
.items {
  border: 1px solid blue;
}
.container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr;
}
/*Основная страница*/
.main-page {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto  auto 729px 622px 276px;
  font-family: 'Roboto', sans-serif;
  color: #602750;
  /*первый экран*/
  /*блок спецпредложения*/
  /*Каталог*/
  /*секция о компании*/
  /* секция с хитами продаж*/
  /*секция с преимуществами*/
}
.main-page a {
  text-decoration: none;
  color: #602750;
}
.main-page .first-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  background: url(/img/25853939abf2b28f6e53c8bd71646e7e.png) no-repeat center center;
  position: relative;
  font-size: 16px;
  /*наложение цвета на первый экран*/
  /* просто граница*/
  /* заголовок главного экрана*/
  /*блок с картинками*/
  /*блок с кнопокой*/
}
.main-page .first-page::before {
  position: absolute;
  background-color: rgba(1, 1, 1, 0.8);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
}
.main-page .first-page .header_background_color {
  background: rgba(202, 194, 178, 0.6);
  position: relative;
  height: 140px;
  /*блок header*/
}
.main-page .first-page .header_background_color .header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
  /*логотип и навигация*/
  /*логотип*/
  /*навигация*/
}
.main-page .first-page .header_background_color .header .logo {
  width: 50%;
  color: #5a1a4a;
  margin-top: 14px;
}
.main-page .first-page .header_background_color .header nav {
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  font-weight: 700;
  text-transform: uppercase;
}
.main-page .first-page .header_background_color .header nav a {
  padding-right: 50px;
  margin-top: 20px;
  line-height: 24px;
}
.main-page .first-page .header_background_color .header nav a:hover {
  color: #10cabf;
}
.main-page .first-page .page_title {
  position: relative;
  display: block;
  text-align: center;
  color: #10cabf;
  margin-top: 100px;
}
.main-page .first-page .page_title h1 {
  font-family: 'Philosopher', sans-serif;
  font-size: 60px;
}
.main-page .first-page .page_title p {
  font-family: 'Philosopher', sans-serif;
  font-size: 30px;
}
.main-page .first-page .first-page_img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  position: relative;
  margin-right: 50px;
  margin-top: 190px;
  /*картинки*/
}
.main-page .first-page .first-page_img .img_first {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid #10cabf;
  left: 50px;
}
.main-page .first-page .first-page_img span {
  font-family: 'Philosopher', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  line-height: 24px;
}
.main-page .first-page .first-page_img .first_span {
  position: absolute;
  left: 120px;
  top: 30px;
}
.main-page .first-page .first-page_img .second_span {
  position: absolute;
  left: 610px;
  top: 30px;
}
.main-page .first-page .header_button {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 100px;
}
.main-page .first-page .header_button .btn {
  padding: 20px 70px;
  background-color: #10cabf;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: 'Philosopher', sans-serif;
  font-size: 18px;
  margin-bottom: 100px;
}
.main-page .sale_bacground {
  background-color: #e4dddb;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /*начало блока*/
}
.main-page .sale_bacground .sale_block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  /*карточка*/
  /*Нижний скрол*/
}
.main-page .sale_bacground .sale_block .card {
  border: 5px solid #4f095c;
  padding: 25px 50px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  /*блок с описанием*/
}
.main-page .sale_bacground .sale_block .card img {
  width: 300px;
}
.main-page .sale_bacground .sale_block .card .card_title {
  position: relative;
  margin-left: 50px;
}
.main-page .sale_bacground .sale_block .card .card_title h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
.main-page .sale_bacground .sale_block .card .card_title li {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
}
.main-page .sale_bacground .sale_block .card .card_title li:nth-child(2n):not(:last-child) {
  position: relative;
  margin-left: 250px;
  top: -18px;
}
.main-page .sale_bacground .sale_block .card .card_title li:last-child {
  margin-top: 12px;
}
.main-page .sale_bacground .sale_block .card .card_title .price {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.main-page .sale_bacground .sale_block .card .card_title .btn {
  padding: 20px 70px;
  background-color: #10cabf;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: 'Philosopher', sans-serif;
  font-size: 18px;
  margin-top: 40px;
}
.main-page .sale_bacground .sale_block .scroll {
  display: inline-flex;
  justify-content: center;
  align-content: space-between;
}
.main-page .sale_bacground .sale_block .scroll .circle_scroll {
  width: 14px;
  height: 14px;
  background-color: #4f095c;
  border-radius: 100%;
  margin: 30px 30px;
}
.main-page .sale_bacground .sale_block .scroll .circle_scroll:hover {
  background-color: #10cabf;
}
.main-page .catalog_background {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  background: url(/img/dark-oak-wood-grain-chipboard-4k-2160p-uhd-panning-footage-dark-texture-lin_ej9rjkv5l__F0000.png) no-repeat center center;
  color: white;
  /*кнопка перехода в каталог*/
}
.main-page .catalog_background .catalog {
  /*иконки товаров*/
}
.main-page .catalog_background .catalog .about_goods {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, auto);
  font-size: 18px;
  font-family: 'Philosopher', sans-serif;
  /*порядовка*/
}
.main-page .catalog_background .catalog .about_goods .left_goods,
.main-page .catalog_background .catalog .about_goods .right_goods {
  display: grid;
  grid-template-columns: auto;
  /*общие стили для иконок*/
}
.main-page .catalog_background .catalog .about_goods .left_goods .goods,
.main-page .catalog_background .catalog .about_goods .right_goods .goods {
  background-color: #fff;
  width: 102px;
  height: 102px;
  border-radius: 100%;
  position: relative;
  margin-left: 70px;
  margin-bottom: 40px;
  /*индивидуальные стили*/
}
.main-page .catalog_background .catalog .about_goods .left_goods .goods a,
.main-page .catalog_background .catalog .about_goods .right_goods .goods a {
  text-decoration: none;
  color: white;
}
.main-page .catalog_background .catalog .about_goods .left_goods .goods p,
.main-page .catalog_background .catalog .about_goods .right_goods .goods p {
  position: absolute;
  top: 35px;
  left: 150px;
}
.main-page .catalog_background .catalog .about_goods .left_goods .goods img,
.main-page .catalog_background .catalog .about_goods .right_goods .goods img {
  width: 45px;
  height: auto;
  position: absolute;
  top: 15px;
  left: 29px;
}
.main-page .catalog_background .catalog .about_goods .left_goods .goods .stell,
.main-page .catalog_background .catalog .about_goods .right_goods .goods .stell {
  top: 22px;
}
.main-page .catalog_background .catalog .about_goods .left_goods .goods .hosp,
.main-page .catalog_background .catalog .about_goods .right_goods .goods .hosp {
  width: 40px;
  top: 12px;
  left: 32px;
}
.main-page .catalog_background .catalog .about_goods .left_goods .goods .safe,
.main-page .catalog_background .catalog .about_goods .right_goods .goods .safe,
.main-page .catalog_background .catalog .about_goods .left_goods .goods .verst,
.main-page .catalog_background .catalog .about_goods .right_goods .goods .verst,
.main-page .catalog_background .catalog .about_goods .left_goods .goods .metall,
.main-page .catalog_background .catalog .about_goods .right_goods .goods .metall {
  width: 60px;
  top: 26px;
  left: 23px;
}
.main-page .catalog_background .catalog .about_goods .left_goods .goods .metall,
.main-page .catalog_background .catalog .about_goods .right_goods .goods .metall {
  width: 50px;
  top: 23px;
  left: 28px;
}
.main-page .catalog_background .btn {
  padding: 20px 70px;
  background-color: #10cabf;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: 'Philosopher', sans-serif;
  font-size: 18px;
  margin-left: 270px;
  margin-top: 40px;
  margin-bottom: 100px;
}
.main-page .about_company {
  background-color: #fff;
}
.main-page .about_company .company {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding: 70px 0;
  border-bottom: 2px solid #10cabf;
}
.main-page .about_company .company .company_images img {
  width: 400px;
  height: auto;
  margin-right: 25px;
}
.main-page .about_company .company .company_text h2 {
  margin-top: 0;
}
.main-page .about_company .company .company_text p {
  font-size: 16px;
  font-family: 'Philosopher', sans-serif;
  line-height: 20px;
}
.main-page .about_company .company .company_text .btn {
  padding: 20px 70px;
  background-color: #10cabf;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: 'Philosopher', sans-serif;
  font-size: 18px;
  margin-top: 160px;
}
.main-page .about_hits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Philosopher', sans-serif;
  margin-bottom: 70px;
}
.main-page .about_hits .hit_goods {
  border: #5a1a4a 3px solid;
  padding: 10px;
  margin-left: 10px;
  position: relative;
}
.main-page .about_hits .hit_goods img {
  position: relative;
  width: 117px;
  height: auto;
  margin-bottom: 20px;
  left: 55px;
}
.main-page .about_hits .hit_goods h4,
.main-page .about_hits .hit_goods p {
  text-align: center;
  margin-bottom: 10px;
}
.main-page .about_hits .hit_goods .safe {
  height: 250px;
}
.main-page .about_hits .hit_goods .btn {
  padding: 15px;
  background-color: #10cabf;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: 'Philosopher', sans-serif;
  font-size: 16px;
  margin-left: 25px;
}
