/*для небольших мониторов*/
@media (min-width: 769px) and (max-width: 1024px) {
    *{
        box-sizing: border-box;
    }
    .container{
        max-width: 100%;
        width: 90%;
        margin: 0 auto;
    }
    h2{
        font-size: 24px;
        font-family: 'Philosopher', sans-serif;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .main-page{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto  auto auto auto auto;
        .first-page{
            background: url(../../img/bg/25853939abf2b28f6e53c8bd71646e7e.png) no-repeat center center;
            background-size: cover;
            .header_background_color{
                height: 90px;
                .header{

                    .logo{
                        margin-top: 5px;
                        margin-left: -30px;
                        img{
                            width: 60px;
                        }
                    }
                    nav{
                        a{
                            margin-right: 20px;
                            &:nth-child(1){
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
            .page_title{
                margin-top: 75px;
                h1{
                    font-size: 30px;
                }
                p{
                    font-size: 24px;
                }
                /*блок с картинками*/
            }
            .first-page_img{
                margin-top: 115px;
                /*картинки*/
                .img_first{
                    border: 1px solid #10cabf;
                    width: 70px;
                    height: 70px;
                    margin-left: 50%;
                }
                .img_second{
                    border: 1px solid #10cabf;
                    width: 70px;
                    height: 70px;
                    margin-left: 10%;
                }
                span{
                    font-size: 14px;
                    line-height: 18px;

                }
                .first_span{
                    position: absolute;
                    left: 36%;
                    top: 20px;
                }
                .second_span{
                    position: absolute;
                    left: 66%;
                    top: 20px;
                }
            }
            /*блок с кнопокой*/
            .header_button{
                margin-top: 80px;
                .btn{
                    padding: 15px 40px;
                    font-size: 12px;
                    margin-bottom: 45px;
                }
            }
        }
        .sale_bacground{
            background-color: #e4dddb;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 700px;
            /*начало блока*/
            .sale_block{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto;
                position: relative;
                /*карточка*/
                .slider{
                    .card{
                        border: 5px solid #4f095c;
                        padding: 25px 50px;
                        display: grid;
                        grid-template-columns: 1fr 3fr;
                        grid-template-rows: auto;
                        position: absolute;
                        opacity: 1;
                        transition: all ease 1s;
                        top: 150px;
    
                        img{
                            width: 300px;
                            height: 420px;
                        }
                        .stail{
                            width: 200px;
                            height: 420px;
                        }
                        /*блок с описанием*/
                        .card_title{
                            position: relative;
                            margin-left: 50px;
                            h3{
                                font-family: 'Roboto', sans-serif;
                                font-size: 20px;
                                padding-bottom: 20px;
                                font-weight: bold;
                            }
                            li{
                                font-family: 'Roboto', sans-serif;
                                font-size: 14px;
                                line-height: 16px;
                            }
                            li:nth-child(2n):not(:last-child){
                                position: relative;
                                margin-left: 250px;
                                top: -18px;
                            }
                            li:last-child{
                                margin-top: 12px;
                            }
                            .price{
                                margin-top: 40px;
                                font-family: 'Roboto', sans-serif;
                                font-size: 20px;
                                font-weight: bold;
                            }
                            .btn{
                                padding: 20px 70px;
                                background-color: #10cabf;
                                border-radius: 10px;
                                border: none;
                                color: white;
                                font-family: 'Philosopher', sans-serif;
                                font-size: 18px;
                                margin-top: 40px;
                            }
                        }
                    }
                    .stail_width{
                        width: 100%;
                    }
                    .safeNoFire{
                        img{
                            width: 100%;
                            height: auto;
                            margin-top: 50px;
                        }
                        .card_title{
                            li:nth-child(2n):not(:last-child){
                                position: relative;
                                margin-left: 0px;
                                top: 0px;
                            }
                            li{
                                padding-bottom: 5px;
                            }
                        }
                    }
                }
                .slider .opacity0{
                    opacity: 0;
                }
                /*Нижний скрол*/
                .scroll{
                    display: inline-flex;
                    justify-content: center;
                    align-content: space-between;
                    position: relative;
                    top: 170px;
                    .circle_scroll{
                        width: 14px;
                        height: 14px;
                        background-color: #10cabf;
                        border-radius: 100%;
                        margin: 30px 30px;
                    }
                    .active-color{
                        background-color: #4f095c;
                    }
                }
            }
        }
        /*Каталог*/
        .catalog_background{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            background: url(../img/bg/dark-oak-wood-grain-chipboard-4k-2160p-uhd-panning-footage-dark-texture-lin_ej9rjkv5l__F0000.png) no-repeat center center;
            color: white;
            .catalog{
                /*иконки товаров*/
                .about_goods{
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-template-rows: repeat(3, auto);
                    font-size: 16px;
                    font-family: 'Philosopher', sans-serif;
                    /*порядовка*/
                    .left_goods, .right_goods{
                        display: grid;
                        grid-template-columns: auto;
                        /*общие стили для иконок*/
                        .goods{
                            p{
                                position: absolute;
                                top: 35px;
                                left: 120px;
                            }
                        }
                    }
                }
            }
            /*кнопка перехода в каталог*/
            .btn{
            padding: 15px 40px;
            font-size: 14px;
            margin-bottom: 40px;
            position: relative;
            left: -30px;
            }
        }
        .about_company{
            .company{
                padding: 70px 0;
                .company_images{
                    height: 500px;
                    margin-bottom: 50px;
                    .company_images .img_comp{
                        width: 400px;
                        height: auto;
                        margin-right: 25px;
                    }
                }
                .company_text{
                    .btn{
                        display: none;
                    }
                }
            }
        }
        .hit_sale{
            padding-left: 10px;
            .about_hits{
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-template-rows: auto auto;
                font-family: 'Philosopher', sans-serif;
                margin-bottom: 50px;
                .hit_goods{
                    border: #5a1a4a 3px solid;
                    padding: 10px;
                    margin: 20px;
                    position: relative;
                    height: 200px;
                    img{
                        position: relative;
                        width: 80px;
                        height: auto;
                        margin-bottom: 20px;
                        left: 0px;
                    }
                    h4, p{
                        display: flex;
                        text-align: right;
                        margin-bottom: 10px;
                        left: 50px;
                        position: relative;
                        left: 120px;
                        top: -180px;
                    }
                    .safe{
                        height: 169px;
                    }
                    .btn{
                        padding: 15px;
                        background-color: #10cabf;
                        border-radius: 10px;
                        border: none;
                        color: white;
                        font-family: 'Philosopher', sans-serif;
                        font-size: 14px;
                        position: relative;
                        left: 60px;
                        top: -130px;
                    }
                }
            }
        }
        .advantage{
            .advantage_img{
                display: grid;
                grid-template-rows: repeat(3, auto);
                h2{
                    color: #10cabf;
                }
                /*карточки*/
                .adv{
                    display: grid;
                    grid-template-rows: repeat(2, auto);
                    grid-template-columns: repeat(2, auto);
                    padding: 0px 60px 60px 60px;
                    margin-left: 50px;
                    /*стили для карточек*/
                    .advanta{
                        margin: 30px;
                    }
                }
                /*кнопка секции*/
                .btn{
                    margin-top: 0px;
                    font-size: 16px;
                    margin-bottom: 70px;
                    margin-left: 35%;
                }
            }
        }
        footer{
            .footer{
                display: grid;
                grid-template-columns: auto auto;
                margin-top: 50px;
                nav{
                    margin-left: 0px;
                    margin-top: 0px;
                    a{
                        font-size: 12px;
                        margin-right: 10px;
                        &:nth-child(2){
                            margin-left: -10px;
                        }
                    }
                    ul{
                        padding-top: 10px;
                    }
                    li{
                        padding-bottom: 10px;
                        font-size: 14px;
                        font-weight: normal;
                        text-transform: none;
                    }
                }
            }
        }
    }
}
/*для планшетов*/
@media (min-width: 481px) and (max-width: 768px) {
    *{
        box-sizing: border-box;
    }
    .container{
        max-width: 100%;
        width: 90%;
        margin: 0 auto;
    }
    h2{
        font-size: 24px;
        font-family: 'Philosopher', sans-serif;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .main-page{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto  auto auto auto auto;
        //width: 767px;
        .first-page{
            background: url(../img/bg/768size.png) no-repeat center center;
            background-size: cover;
            .header_background_color{
                height: 90px;
                .header{
                    nav{
                        margin-top: 15px;
                        .logo{
                            margin-top: 5px;
                            margin-left: 0px;
                            img{
                                width: 54px;
                            }
                        }
                        .nav__links{
                            position: absolute;
                            right: 0px;
                            height: 30vh;
                            width: 50%;
                            top: 8.75vh;
                            background-color: rgba(202, 194, 178, 0.6);
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            z-index: 5;
                            transform: translateX(100%);
                            transition: transform 0.5s ease-in;
                            li{
                                opacity: 0;
                            }
                            a{
                                font-size: 14px;
                                margin-right: 0px;
                                margin-top: -50px;
                                &:hover{
                                    color: #5a1a4a;
                                    border-bottom: none;
                                }
                            }
                        }
                        .burger{
                            margin-top: -10px;
                            margin-left: 600px;
                            display: block;
                            cursor: pointer;
                        }
                        .toggle{
                            .line1{
                                transform: rotate(-45deg) translate(-5px, 6px);
                            }
                            .line2{
                                opacity: 0;
                            }
                            .line3{
                                transform: rotate(45deg) translate(-5px, -6px);
                            }
                        }
                        .nav__active{
                            transform: translateX(0%);
                        }
                    }
                }
            }
            .page_title{
                margin-top: 75px;
                h1{
                    font-size: 30px;
                }
                p{
                    font-size: 24px;
                }
                /*блок с картинками*/
            }
            .first-page_img{
                margin-top: 115px;
                /*картинки*/
                .img_first{
                    border: 1px solid #10cabf;
                    width: 70px;
                    height: 70px;
                    margin-left: 40%;
                }
                .img_second{
                    border: 1px solid #10cabf;
                    width: 70px;
                    height: 70px;
                    margin-left: 15%;
                }
                span{
                    font-size: 14px;
                    line-height: 18px;

                }
                .first_span{
                    position: absolute;
                    left: 220px;
                    top: 20px;
                }
                .second_span{
                    position: absolute;
                    left: 480px;
                    top: 20px;
                }
            }
            /*блок с кнопокой*/
            .header_button{
                margin-top: 80px;
                .btn{
                    padding: 15px 40px;
                    font-size: 12px;
                    margin-bottom: 45px;
                }
            }
            .opacityFirstPage{
                opacity: 0.2;
            }
        }
        .sale_bacground{
            background-color: #e4dddb;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 600px;
            /*начало блока*/
            .sale_block{
                /*карточка*/
                .slider{
                    .card{
                        border: 5px solid #4f095c;
                        //padding: 15px 30px;
                        display: grid;
                        grid-template-columns: auto auto;
                        grid-template-rows: auto;
                        top: 90px;
    
                        img{
                            width: 250px;
                            height: 330px;
                        }
                        .stail{
                            width: 150px;
                            height: 330px;
                        }
                        /*блок с описанием*/
                        .card_title{
                            position: relative;
                            margin-left: 20px;
                            h3{
                                font-family: 'Roboto', sans-serif;
                                font-size: 20px;
                                padding-bottom: 20px;
                                font-weight: bold;
                            }
                            li{
                                font-family: 'Roboto', sans-serif;
                                font-size: 12px;
                                line-height: 16px;
                                font-weight: bold;
                            }
                            li:nth-child(2n):not(:last-child){
                                    position: relative;
                                    margin-left: 0px;
                                    top: 0px;
                            }
                            li:last-child{
                                margin-top: 0px;
                            }
                            .price{
                                margin-top: 40px;
                                font-family: 'Roboto', sans-serif;
                                font-size: 20px;
                                font-weight: bold;
                            }
                            .btn{
                                position: relative;
                                padding: 15px 40px;
                                font-size: 12px;
                                margin-bottom: 0px;
                                top: -70px;
                                left: 120px;
                            }
                        }
                    }
                    .stail_width{
                        .card_img{
                            .stail{
                                width: 150px;
                                height: 330px;
                                margin-bottom: 30px;
                            }
                        }
                    }
                    .safeNoFire{
                        img{
                            width: 200px;
                            height: auto;
                        }
                        .card_title{
                            margin-bottom: -20px;
                        }
                    }
                }
                /*Нижний скрол*/
                .scroll{
                    display: inline-flex;
                    justify-content: center;
                    align-content: space-between;
                    top: 130px;
                    .circle_scroll{
                        width: 14px;
                        height: 14px;
                        border-radius: 100%;
                        margin: 15px 30px;
                    }
                }
            }
        }
        /*Каталог*/
        .catalog_background{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            background: url(../img/bg/dark-oak-wood-grain-chipboard-4k-2160p-uhd-panning-footage-dark-texture-lin_ej9rjkv5l__F0000.png) no-repeat center center;
            color: white;
            .catalog{
                /*иконки товаров*/
                .about_goods{
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-template-rows: repeat(3, auto);
                    font-size: 16px;
                    font-family: 'Philosopher', sans-serif;
                    /*порядовка*/
                    .left_goods, .right_goods{
                        display: grid;
                        grid-template-columns: auto;
                        /*общие стили для иконок*/
                        .goods{
                            p{
                                position: absolute;
                                top: 35px;
                                left: 120px;
                            }
                        }
                    }
                }
            }
            /*кнопка перехода в каталог*/
            .btn{
            padding: 15px 40px;
            font-size: 14px;
            margin-bottom: 40px;
            position: relative;
            left: -30px;
            }
        }
        .about_company{
            .company{
                padding: 70px 0;
                .company_images{
                    height: 500px;
                    margin-bottom: 50px;
                    .company_images .img_comp{
                        width: 400px;
                        height: auto;
                        margin-right: 25px;
                    }
                }
                .company_text{
                    .btn{
                        display: none;
                    }
                }
            }
        }
        .hit_sale{
            padding-left: 10px;
            .about_hits{
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-template-rows: auto auto;
                font-family: 'Philosopher', sans-serif;
                margin-bottom: 50px;
                .hit_goods{
                    border: #5a1a4a 3px solid;
                    padding: 10px;
                    margin: 20px;
                    position: relative;
                    height: 200px;
                    img{
                        position: relative;
                        width: 80px;
                        height: auto;
                        margin-bottom: 20px;
                        left: 0px;
                    }
                    h4, p{
                        display: flex;
                        text-align: right;
                        margin-bottom: 10px;
                        left: 50px;
                        position: relative;
                        left: 120px;
                        top: -180px;
                    }
                    .safe{
                        height: 169px;
                    }
                    .btn{
                        padding: 15px;
                        background-color: #10cabf;
                        border-radius: 10px;
                        border: none;
                        color: white;
                        font-family: 'Philosopher', sans-serif;
                        font-size: 14px;
                        position: relative;
                        left: 60px;
                        top: -130px;
                    }
                }
            }
        }
        .advantage{
            .advantage_img{
                display: grid;
                grid-template-rows: repeat(3, auto);
                h2{
                    color: #10cabf;
                }
                /*карточки*/
                .adv{
                    display: grid;
                    grid-template-rows: repeat(2, auto);
                    grid-template-columns: repeat(2, auto);
                    padding: 0px 60px 60px 60px;
                    /*стили для карточек*/
                    .advanta{
                        margin: 30px;
                    }
                }
                /*кнопка секции*/
                .btn{
                    margin-top: 0px;
                    font-size: 16px;
                    margin-bottom: 70px;
                    margin-left: 220px;
                }
            }
        }
        .contacts{
            /*сетка для контактов*/
            .contacts_maps{
                display: grid;
                grid-template-rows: auto auto;
                grid-template-columns: none;
                /*стили для карты*/
                .maps{
                    margin-top: 10px;
                    width: 100%;
                    margin-right: -10px;
                }
                /*стили для контактов*/
                .contacts_all{
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    position: relative;
                    margin-left: 25px;
                    margin-top: 5px;
                    color: white;
                    font-family: 'Philosopher', sans-serif;
                    table{
                        p{
                            text-align-last: left;
                            font-size: 16px;
                            line-height: 24px;
                            padding-bottom: 10px;
                        }
                    }
                }
                .btn{
                    margin-top: 65px;
                    padding: 20px 40px;
                    background-color: #10cabf;
                    border-radius: 10px;
                    border: none;
                    color: white;
                    font-family: 'Philosopher', sans-serif;
                    font-size: 16px;
                    margin-bottom: 90px;
                }
            }
        }
        footer{
            .footer{
                display: grid;
                grid-template-columns: auto auto;
                margin-top: 50px;
                nav{
                    margin-left: 25px;
                    margin-top: 7px;
                    a:not(:first-child){
                        display: none;
                    }
                    ul{
                        padding-top: 10px;
                    }
                    li{
                        padding-bottom: 10px;
                        font-size: 14px;
                        font-weight: normal;
                        text-transform: none;
                    }
                    #sochial{
                        img{
                            width: 40px;
                            height: 40px;
                            margin-left: -10px;
                        }
                        display: flex;
                        a{
                        display: inline-block;
                        padding-left: 20px;
                        position: relative;
                        top: 40px;
                        left: 580px;
                            :first-child{
                                 left: 560px;
                            }
                        }
                    }
                }
                .footer_cont{
                    font-family: 'Philosopher', sans-serif;
                    font-size: 16px;
                    line-height: 24px;
                    padding-bottom: 10px;
                    text-align: right;
                }
            }
        }
    }
    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
}
/*для телефонов*/
@media (min-width: 360px) and (max-width : 480px){
    .container{
        //max-width: 100%;
        width: 320px;
        margin: 0 auto;
    }
    body{
        overflow-x: hidden;
    }
    h2{
        font-size: 16px;
        font-family: 'Philosopher', sans-serif;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .main-page{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto  auto auto auto auto;
        font-size: 14px;
        .first-page{
            background: url(../img/bg/480.png) no-repeat center center;
            background-size: cover;
            height: auto;
            .header_background_color{
                height: 70px;
                .header{
                    nav{
                        .logo{
                            margin-top: 5px;
                            margin-left: 0px;
                            img{
                                width: 54px;
                            }
                        }
                        .nav__links{
                            position: absolute;
                            right: 0px;
                            height: 30vh;
                            width: 50%;
                            top: 11vh;
                            background-color: rgba(202, 194, 178, 0.6);
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            z-index: 5;
                            display: none;
                            transform: translateX(100%);
                            transition: transform 0.5s ease-in;
                            li{
                                opacity: 0;
                            }
                            a{
                                font-size: 14px;
                                margin-right: 0px;
                                margin-top: -50px;
                                &:hover{
                                    color: #5a1a4a;
                                    border-bottom: none;
                                }
                            }
                        }
                        .burger{
                            margin-top: -10px;
                            margin-left: 200px;
                            display: block;
                            cursor: pointer;
                        }
                        .toggle{
                            .line1{
                                transform: rotate(-45deg) translate(-5px, 6px);
                            }
                            .line2{
                                opacity: 0;
                            }
                            .line3{
                                transform: rotate(45deg) translate(-5px, -6px);
                            }
                        }
                        .nav__active{
                            transform: translateX(0%);
                            display: block;
                            display: flex;
                        }
                    }
                }
            }
            .page_title{
                margin-top: 50px;
                h1{
                    font-size: 18px;
                }
                p{
                    font-size: 14px;
                }
                /*блок с картинками*/
            }
            .first-page_img{
                margin-top: 60px;
                /*картинки*/
                .img_first{
                    border: 1px solid #10cabf;
                    width: 70px;
                    height: 70px;
                    margin-left: 35%;
                }
                .img_second{
                    border: 1px solid #10cabf;
                    width: 70px;
                    height: 70px;
                    margin-left: 40%;
                }
                span{
                    text-align: center;
                    font-size: 14px;

                }
                .first_span{
                    position: absolute;
                    left: 12%;
                    top: 86px;
                }
                .second_span{
                    position: absolute;
                    left: 220px;
                    top: 86px;
                }
            }
            /*блок с кнопокой*/
            .header_button{
                .btn{
                    padding: 20px 50px;
                    font-size: 16px;
                    margin-bottom: 50px;
                }
            }
        }
        .opacityFirstPage{
            opacity: 0.2;
        }
        .sale_bacground{
            background-color: #e4dddb;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 400px;
            justify-content: center;
            /*начало блока*/
            .sale_block{
                /*карточка*/
                .slider{
                    .card{
                        border: 1px solid #4f095c;
                        border-radius: 10px;
                        display: grid;
                        grid-template-columns: auto auto;
                        grid-template-rows: auto;
                        padding:  0;
                        top: 70px;
                        img{
                            width: 150px;
                            height: 210px;
                            margin-left: 0px;
                            margin-top: 20px;
                        }
                        .stail{
                            width: 80px;
                            height: auto;
                            margin-left: 20px;
                            margin-right: 10px;
                        }
                        /*блок с описанием*/
                        .card_title{
                            position: relative;
                            margin-left: 5px;
                            h3{
                                font-family: 'Roboto', sans-serif;
                                font-size: 18px;
                                padding-bottom: 15px;
                                font-weight: bold;
                                margin-top: 20px;
                            }
                            li{
                                font-family: 'Roboto', sans-serif;
                                font-size: 12px;
                                line-height: 16px;
                                font-weight: normal;
                                &:nth-child(2n),&:nth-child(10), &:nth-child(11), &:nth-child(12) {
                                    display: none;
                                }
                            }
                            .price{
                                margin-top: 10px;
                                margin-left: 0px;
                                font-family: 'Roboto', sans-serif;
                                font-size: 20px;
                                font-weight: bold;
                            }
                            .btn{
                                position: relative;
                                padding: 5px 40px;
                                font-size: 12px;
                                margin-bottom: -20px;
                                top: -30px;
                                left: -10px;
                            }
                        }
                    }
                    .safeNoFire{
                        img{
                            width: 100px;
                            height: auto;
                            padding-top: 50px;
                        }
                        .card_title{
                            li:nth-child(2n):not(:last-child){
                                position: relative;
                                margin-left: 0px;
                                top: 0px;
                            }
                            li{
                                padding-bottom: 2px;
                            }
                            li:nth-child(7){
                                display: none;
                            }

                        }
                    }
                }
                /*Нижний скрол*/
                .scroll{
                    display: inline-flex;
                    justify-content: center;
                    align-content: space-between;
                    top: 70px;
                    .circle_scroll{
                        width: 14px;
                        height: 14px;
                        background-color: #4f095c;
                        border-radius: 100%;
                        margin: 20px;
                        margin-left: -10px;
                    }
                }
            }
        }
        /*Каталог*/
        .catalog_background{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            background: url(../img/bg/dark-oak-wood-grain-chipboard-4k-2160p-uhd-panning-footage-dark-texture-lin_ej9rjkv5l__F0000.png) no-repeat center center;
            color: white;
            .catalog{
                /*иконки товаров*/
                .about_goods{
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-rows: repeat(6, auto);
                    font-size: 16px;
                    font-family: 'Philosopher', sans-serif;
                    padding-left: 0px;
                    margin-left: -50px;
                    margin-top: 50px;
                }
            }
            /*кнопка перехода в каталог*/
            .btn{
            padding: 15px 50px;
            font-size: 14px;
            margin-bottom: 50px;
            margin-left: 20%;
            }
        }
        .about_company{
            .company{
                .company_images{
                    display: none;
                }
                .company_text{
                    margin-right: 10px;
                    .btn{
                        display: block;
                        font-size: 14px;
                        margin-top: 30px;
                        margin-left: 30px;
                    }
                }
            }
        }
        .hit_sale{
            //padding-left: 10px;
            .about_hits{
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                font-family: 'Philosopher', sans-serif;
                margin-bottom: 50px;
                .hit_goods:not(:first-child){
                   display: none;
                }
                .hit_goods{
                    margin-bottom: -10px;
                    height: 300px;
                    img{
                        position: relative;
                        width: 117px;
                        height: auto;
                        margin-bottom: 0px;
                        left: 15px;
                    }
                    h4, p{
                        text-align: center;
                        position: relative;
                        top: -150px;
                        margin-left: 30%;
                    }
                    .btn{
                        //padding: 15px;
                        background-color: #10cabf;
                        border-radius: 10px;
                        border: none;
                        color: white;
                        font-family: 'Philosopher', sans-serif;
                        font-size: 14px;
                        position: relative;
                        left: 80px;
                        top: -130px;
                    }
                }
            }
        }
        .advantage{
            .advantage_img{
                h2{
                    color: #10cabf;
                }
                /*карточки*/
                .adv{
                    display: grid;
                    grid-template-rows: repeat(4, auto);
                    grid-template-columns: none;
                    padding: 0px 60px 60px 60px;
                    /*стили для карточек*/
                    .advanta{
                        margin: 0px;
                        margin-top: 30px;
                        margin-left: -10px;
                    }
                }
                /*кнопка секции*/
                .btn{
                    margin-top: 0px;
                    font-size: 16px;
                    margin-bottom: 70px;
                    margin-left: 30px;
                }
            }
        }
        .contacts{
            /*сетка для контактов*/
            .contacts_maps{
                display: grid;
                grid-template-rows: auto auto;
                grid-template-columns: none;
                /*стили для карты*/
                .maps{
                    margin-top: 10px;
                    height: 300px;
                    width: 300px;
                    margin-right: -10px;
                }
                /*стили для контактов*/
                .contacts_all{
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    position: relative;
                    margin-left: 5px;
                    margin-top: 5px;
                    color: white;
                    font-family: 'Philosopher', sans-serif;
                    table{
                        p{
                            text-align-last: left;
                            font-size: 16px;
                            line-height: 24px;
                            padding-bottom: 10px;
                        }
                    }
                }
                .btn{
                    display: none;
                }
            }
        }
        footer{
            .footer{
                display: grid;
                grid-template-columns: auto auto;
                margin-top: 50px;
                nav{
                    margin-left: 0px;
                    margin-top: 7px;
                    a:not(:first-child){
                        display: none;
                    }
                    ul{
                        padding-top: 10px;
                    }
                    li{
                        //padding-bottom: 10px;
                        font-size: 14px;
                        font-weight: normal;
                        text-transform: none;
                    }
                    #sochial{
                        img{
                            width: 30px;
                            height: 30px;
                            color: #4f095c;
                        }
                        display: block;
                        a{
                        display: block;
                        //padding-bottom: 20px;
                        position: relative;
                        top: -290px;
                        left: 430px;
                            :first-child{
                                 left: 560px;
                            }
                        }
                    }
                }
                .footer_cont{
                    font-family: 'Philosopher', sans-serif;
                    font-size: 14px;
                    line-height: 20px;
                    //padding-bottom: 10px;
                    text-align: right;
                    margin-left: -20px;
                }
            }
        }
    }
    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
}
