@media (min-width: 769px) and (max-width: 1024px){
    *{
        box-sizing: border-box;
    }
    .container{
        max-width: 100%;
        width: 90%;
        margin: 0 auto;
    }
    h2{
        font-size: 24px;
        font-family: 'Philosopher', sans-serif;
        margin-top: 50px;
    }
    .shelving_pages{
        .header_background_color{
            height: 90px;
            .catalog_header{

                .logo{
                    margin-top: 5px;
                    margin-left: -30px;
                    img{
                        width: 60px;
                    }
                }
                nav{
                    a{
                        margin-right: 20px;
                        &:nth-child(1){
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        footer{
            background: url(../../img/bg/dark-oak-wood-grain-chipboard-4k-2160p-uhd-panning-footage-dark-texture-lin_ej9rjkv5l__F0000.png) no-repeat center center;
            color: #10cabf;
            .footer{
                nav{
                    margin-left: 0px;
                    margin-top: 0px;
                    a{
                        font-size: 12px;
                        margin-right: 10px;
                        &:nth-child(2){
                            margin-left: -10px;
                        }
                    }
                    ul{
                        padding-top: 10px;
                    }
                    li{
                        padding-bottom: 10px;
                        font-size: 14px;
                        font-weight: normal;
                        text-transform: none;
                    }
                    #sochial{
                        a{
                        height: 40px;
                        display: inline-block;
                        padding-left: 20px;
                        padding-top: 20px;
                        position: relative;
                        top: 50px;
                        left: 350px;
                            &:first-child{
                                 left: 330px;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*для планшетов*/
@media (min-width: 481px) and (max-width: 768px){
    .container{
        max-width: 100%;
        width: 90%;
        margin: 0 auto;
    }
    .shelving_pages{
        .header_background_color{
            height: 90px;
            .catalog_header{

                .logo{
                    margin-top: 5px;
                    margin-left: -150px;
                    img{
                        width: 60px;
                    }
                }
                nav{
                    display: none;
                }
            }
        }
        .food_pieces_color{
            background-color: rgb(236, 225, 238);
            .food_pieces{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    a{
                        font-size: 16px;
                        padding: 0px;
                        &:hover{
                            font-size: 16px;
                            color: #10cabf;
                        }
                    }
            }
        }
        .about_shelving{
            .about{
                .image{
                    .full{
                        margin-left: -20px;
                    }
                }
                .text{
                    .table-text{
                        table{
                            font-size: 14px;
                            margin-left: 10px;
                            td{
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
        .about_mobile{
            .mobile{
                grid-template-columns: auto;
                justify-content: space-around;
                .full_image{
                    margin-bottom: 30px;
                }
            }
        }
        .about_pro{
            .line{
                grid-template-columns: repeat(2, auto);
                .first, .second{
                    margin-bottom: 30px;
                }
                .first, .second, .three, .fourth{
                    table{
                        margin-left: 20px;
                    }
                }
                &:nth-child(1){
                    .first, .second, .three, .fourth{
                        table{
                            margin-left: 0px;
                        }
                    }
                }
            }
        }
        footer{
            .footer{
                display: grid;
                grid-template-columns: auto auto;
                margin-top: 30px;
                nav{
                    margin-left: 0px;
                    margin-top: 7px;
                    a:not(:first-child){
                        display: none;
                    }
                    ul{
                        padding-top: 10px;
                    }
                    li{
                        padding-bottom: 10px;
                        font-size: 14px;
                        font-weight: normal;
                        text-transform: none;
                    }
                    #sochial{
                        img{
                            width: 40px;
                            height: 40px;
                            margin-left: -10px;
                        }
                        display: flex;
                        a{
                        display: inline-block;
                        padding-left: 20px;
                        position: relative;
                        top: 40px;
                        left: 630px;
                            :first-child{
                                 left: 260px;
                            }
                        }
                    }
                }
                .footer_cont{
                    font-family: 'Philosopher', sans-serif;
                    font-size: 16px;
                    line-height: 24px;
                    padding-bottom: 10px;
                    text-align: right;
                    margin-right: 0px;
                }
            }
        }
    }
}
/*для телефонов*/
@media (min-width: 360px) and (max-width : 480px){
    .container{
        width: 320px;
        margin: 0 auto;
    }
    .shelving_pages{
        .header_background_color{
            height: 70px;
            .catalog_header{
                display: grid;
                grid-template-columns: none;
                grid-template-rows: auto;
                justify-items: baseline;
                align-items: flex-start;
                .logo{
                    margin-top: 0px;
                    margin-left: 0px;
                    img{
                        width: 54px;
                    }
                }
                nav{
                    display: none;
                }
            }
        }
        .food_pieces_color{
            background-color: rgb(236, 225, 238);
            .food_pieces{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    a{
                        font-size: 14px;
                        padding: 0px;
                        padding-left: 20px;
                        &:hover{
                            font-size: 14px;
                            color: #10cabf;
                        }
                    }
            }
        }
        .about_shelving{
            .about{
                grid-template-rows: repeat(3, auto);
                grid-template-columns: auto;
                .image{
                    .full{
                        margin-left: 30px;
                        img{
                            width: 100px;
                            margin-top: 20px;
                            margin-right: 20px;
                        }
                    }
                }
                .text{
                    .little{
                        display: block;
                        margin-left: 170px;
                        img{
                            position: relative;
                            width: 70px;
                            height: 70px;
                            top: -200px;
                        }
                    }
                    .table-text{
                        margin-top: -150px;
                        table{
                            margin-left: 0px;
                            td{
                                &:first-child{
                                }
                            }
                        }
                    }
                }
            }
        }
        .about_mobile{
            h2{
                margin-left: 40px;
            }
            .mobile{
                grid-template-rows: repeat(2, auto);
                grid-template-columns: auto;
                .full_image{
                    img{
                        margin-left: 50px;
                        width: 200px;
                    }
                }
                .small_image{
                    .line{
                        img{
                            margin-left: 20px;
                            margin-top: 20px;
                            margin-bottom: 30px;
                            width: 70px;
                            height: 70px;
                        }
                    }
                }
            }
        }
        .about_pro{
            .line{
                grid-template-columns: auto;
                grid-template-rows: repeat(4, auto);
                margin-top: 30px;
                width: 320px;
                .first, .second, .three, .fourth{
                    margin-bottom: 20px;
                    img{
                        margin-left: -20px;
                    }
                    table{
                        margin-left: 0px;
                    }
                }
                &:nth-child(2){
                    .first, .second, .three, .fourth{
                        table{
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
        .about_aksess{
            .line{
                grid-template-columns: auto;
                grid-template-rows: repeat(4, auto);
                margin-top: 30px;
                .aksess{
                    margin-bottom: 20px;
                    img{
                        margin-left: 60px;
                    }
                    h4{
                        margin-left: -50px;
                        text-align: center;
                    }
                    &:nth-child(1){
                        h4{
                            margin-left: -50px;
                        }
                    }

                }
                &:nth-child(2){
                    .aksess{
                        &:nth-child(2), &:nth-child(3){
                            img{
                                margin-left: 60px;
                            }
                            h4{
                                margin-left: -50px;
                            }
                        }
                    }
                }
            }
        }
        footer{
            .footer{
                display: grid;
                grid-template-columns: auto auto;
                margin-top: 50px;
                nav{
                    margin-left: 0px;
                    margin-top: 7px;
                    a:not(:first-child){
                        display: none;
                    }
                    ul{
                        padding-top: 10px;
                    }
                    li{
                        //padding-bottom: 10px;
                        font-size: 14px;
                        font-weight: normal;
                        text-transform: none;
                    }
                    #sochial{
                        display: grid;
                        grid-template-columns: repeat(3, auto);
                        grid-template-rows: auto;
                        img{
                            width: 30px;
                            height: 30px;
                            color: #4f095c;
                        }
                        a{
                            display: block;
                            //padding-bottom: 20px;
                            padding-left: 0px;
                            position: relative;
                            top: 70px;
                            left:  330px;
                                :first-child{
                                    left: 560px;
                                }
                        }
                    }
                }
                .footer_cont{
                    font-family: 'Philosopher', sans-serif;
                    font-size: 14px;
                    line-height: 20px;
                    //padding-bottom: 10px;
                    text-align: right;
                    margin-left: -60px;
                    margin-bottom: 0px;
                    width: 170px;
                }
            }
        }
    }
}