.safe_pages{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    font-family: 'Roboto', sans-serif;
    color: #602750;
    a{
        text-decoration: none;
        color: #602750;
    }
    /*шапка*/
    .header_background_color{
        background: rgba(202, 194, 178, .6);
        position: relative;
        height: 140px;
            /*блок header*/
            .catalog_header{
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto;
                justify-items: center;
                align-items: center;
                margin-top: 10px;
                padding-bottom: 10px;
                /*логотип и навигация*/
                /*логотип*/
                .logo{
                    width: 50%;
                    color: #5a1a4a;
                    margin-top: 14px;
                }
                /*навигация*/
                nav{
                    display: inline-flex;
                    justify-content: space-between;
                    align-content: center;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 10px;
                    a{
                        margin-right: 50px;
                        margin-top: 20px;
                        line-height: 24px;
                        &:hover{
                            color: #10cabf;
                            border-bottom: 1px #10cabf solid;
                            }
                    }
                }
            }
    }
    /*предыдущие страницы*/
    .food_pieces_color{
        background-color: rgb(236, 225, 238);
        .food_pieces{
                margin-top: 20px;
                margin-bottom: 20px;
                a{
                    margin: 10px;
                    padding: 10px;
                    &:hover{
                        color: #136d67;
                    }
                }
        }
    }
    /*описание категории*/
    .text_category{
        margin-top: 50px;
        padding: 20px;
        color: black;
        font-family: 'Philosopher', sans-serif;
        h3{
            font-size: 20px;
            margin-bottom: 20px;
        }
        h4{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    /*категории*/
    .category{
        display: grid;
        grid-template-rows: repeat(11, auto);
        .line{
            display: grid;
            grid-template-columns: repeat(4, auto);
            margin-top: 50px;
            justify-items: center;
            &:nth-child(3), &:nth-child(4), &:nth-child(5){
                .first, .second, .three, .fourth{
                    h3{
                        margin-left: 45px;
                    }
                }
            }
            &:nth-child(11){
                margin-bottom: 30px;
                margin-right: 160px;
            }
            
            .first, .second, .three, .fourth{
                border-bottom: 2px solid black;
                h3{
                    margin-left: 25px;
                    margin-bottom: 30px;
                }
                table{
                    margin-top: 20px;
                    margin-left: -20px;
                    tr{
                        td{
                            margin-left: -30px;
                            padding-top: 10px;
                            &:nth-child(2){
                                text-align: right;
                                padding-left: 30px;
                            }
                        }
                    }
                }
                p{
                    text-align: center;
                    margin-top: 15px;
                    margin-bottom: 20px;
                    span{
                        color: #10cabf;
                    }
                }
            }
        }
        .go_back{
            display: inline-flex;
            font-family: 'Philosopher', sans-serif;
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 20px;
            p{
                margin-top: 5px;
                margin-left: 20px;
            }
        }
    }
    .noEntrySecond{
        .line{
            .first, .second, .three, .fourth{
                h3{
                    margin-left: 0px;
                }
            }
            &:nth-child(2){
                .three, .fourth{
                    img{
                        margin-left: 15px;
                    }
                }
            }
            &:nth-child(3), &:nth-child(4), &:nth-child(5){
                .first, .second, .three, .fourth{
                    h3{
                        margin-left: -10px;
                    }
                    img{
                        margin-left: 10px;
                    }
                }
            }
            &:nth-child(5){
                h3{
                    margin-left: -30px;
                }
                img{
                    margin-left: 20px;
                }
            }
            &:nth-child(8){
                margin-bottom: 50px;
            }
        }
    }
    .noEntryThird{
        .line{
            .first, .second, .three, .fourth{
                h3{
                    margin-left: 10px;
                }
            }
            &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7){
                .first, .second, .three, .fourth{
                    h3{
                        margin-left: 20px;
                    }
                    img{
                        margin-left: 15px;
                    }
                }
            }
            &:nth-child(8){
                margin-bottom: 50px;
                margin-right: 400px;
                .first, .second, .three, .fourth{
                    h3{
                        margin-left: 20px;
                    }
                    img{
                        margin-left: 15px;
                    }
                }
            }
        }
        .last{
            margin-bottom: 50px;
        }
    }
    .noEntryFive{
        .line{
            .first, .second, .three, .fourth{
                h3{
                    margin-left: 10px;
                }
            }
            &:nth-child(3), &:nth-child(4), &:nth-child(5){
                .first, .second, .three, .fourth{
                    h3{
                        margin-left: 10px;
                    }
                    img{
                        margin-left: 10px;
                    }
                }
            }
        }
        .last{
            margin-bottom: 50px;
        }
    }
    .noEntryNoFire{
        .line{
            .first, .second, .three, .fourth{
                h3{
                    margin-left: 10px;
                }
                img{
                    margin-left: 10px;
                }
            }
            &:nth-child(3){
                .first, .second, .three, .fourth{
                    h3{
                        margin-left: -10px;
                    }
                    img{
                        margin-left: 0px;
                    }
                }
            }
            &:nth-child(4), &:nth-child(5){
                .first, .second, .three, .fourth{
                    h3{
                        margin-left: -10px;
                    }
                    img{
                        margin-left: 20px;
                    }
                }
            }
        }
        .last{
            margin-bottom: 50px;
            margin-right: 200px;
        }
    }
    .noFire{
        .line{
            .first, .second, .three, .fourth{
                h3{
                    margin-left: 10px;
                }
                img{
                    margin-left: 0px;
                }
            }
            &:nth-child(3),&:nth-child(4), &:nth-child(5){
                .first, .second, .three, .fourth{
                    h3{
                        margin-left: 10px;
                    }
                    img{
                        margin-left: 0px;
                    }
                }
            }
            &:nth-child(8){
                .first, .second, .three, .fourth{
                    img{
                        margin-left: 15px;
                    }
                }
            }
        }
        .last{
            margin-bottom: 50px;
            .first, .second, .three, .fourth{
                img{
                    margin-left: 15px;
                }
            }
        }
    }
    .NoFireCart{
        .line{
            margin-right: 400px;
            margin-bottom: 50px;
            .first, .second{
                h3{
                    margin-left: 10px;
                }
                img{
                    margin-left: 0px;
                }
            }
        }
    }
    .depozite{
        .line{
            .first, .second, .three, .fourth{
                h3{
                    margin-left: 10px;
                }
                img{
                    margin-left: 0px;
                }
            }
            &:nth-child(3),&:nth-child(4), &:nth-child(5){
                .first, .second, .three, .fourth{
                    h3{
                        margin-left: 10px;
                    }
                    img{
                        margin-left: 0px;
                    }
                }
            }
            &:nth-child(8),&:nth-child(9), &:nth-child(10){
                .first, .second, .three, .fourth{
                    h3{
                        margin-left: 0px;
                    }
                    img{
                        margin-left: 10px;
                    }
                }
            }
            &:nth-child(8){
                .first{
                    h3{
                        margin-left: 40px;
                    }
                }
                .second{
                    h3{
                        margin-left: 25px;
                    }
                }
            }
            &:nth-child(10){
                .second, .three, .fourth{
                    h3{
                        margin-left: 25px;
                    }
                }
            }
            .last{
                margin-bottom: 50px;
            }
        }
    }
    .guns{
        display: grid;
        grid-template-rows: repeat(23, auto);
        .line{
            display: grid;
            grid-template-columns: repeat(4, auto);
            margin-top: 50px;
            justify-items: center;
            .first, .second, .three, .fourth{
                border-bottom: 2px solid black;
                h3{
                    margin-left: 20px;
                    margin-bottom: 30px;
                }
                img{
                    margin-left: 20px;
                }
                table{
                    margin-top: 20px;
                    margin-left: -20px;
                    tr{
                        td{
                            margin-left: -30px;
                            padding-top: 10px;
                            &:nth-child(2){
                                text-align: right;
                                padding-left: 30px;
                            }
                        }
                    }
                }
                p{
                    text-align: center;
                    margin-top: 15px;
                    margin-bottom: 20px;
                    span{
                        color: #10cabf;
                    }
                }
            }
            &:nth-child(1){
                .first, .second{
                    h3{
                        margin-left: 10px;
                    }
                }
            }
            &:nth-child(4){
                .first, .second{
                    h3{
                        margin-left: 0;
                    }
                }
            }
            &:nth-child(8), &:nth-child(9){
                .first, .second, .three, .fourth{
                    img{
                        margin-left: 0;
                    }
                }
            }
            &:nth-child(20){
                .three, .fourth{
                    h3{
                        margin-left: 40px;
                    }
                    img{
                        margin-left: 0;
                    }
                }
            }
            &:nth-child(21){
                .fourth{
                    img{
                        width: 150px;
                        margin-left: 20px;
                    }
                }
                .first, .second, .three{
                    h3{
                        margin-left: 15px;
                    }
                    img{
                        margin-left: 5px;
                    }
                }
            }
        }
        .last{
            margin-bottom: 50px;
            margin-right: 200px;
        }
    }
    .mebel{
             display: grid;
            grid-template-rows: repeat(19, auto);
            .line{
                display: grid;
                grid-template-columns: repeat(4, auto);
                margin-top: 50px;
                justify-items: center;
                .first, .second, .three, .fourth{
                    border-bottom: 2px solid black;
                    h3{
                        margin-left: 20px;
                        margin-bottom: 30px;
                    }
                    img{
                        margin-left: 10px;
                    }
                    table{
                        margin-top: 20px;
                        margin-left: -20px;
                        tr{
                            td{
                                margin-left: -30px;
                                padding-top: 10px;
                                &:nth-child(2){
                                    text-align: right;
                                    padding-left: 30px;
                                }
                            }
                        }
                    }
                    p{
                        text-align: center;
                        margin-top: 15px;
                        margin-bottom: 20px;
                        span{
                            color: #10cabf;
                        }
                    }
                }
                &:nth-child(1), &:nth-child(2){
                    .first, .second, .three, .fourth{
                        h3{
                            margin-left: 40px;
                        }
                    }
                }
                &:nth-child(8){
                    .first, .second{
                        h3{
                            margin-left: 0;
                        }
                    }
                    .three, .fourth{
                        h3{
                            margin-left: 60px;
                        }
                    }
                }
                &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12){
                    .first, .second, .three, .fourth{
                        h3{
                            margin-left: 60px;
                        }
                    }
                }
                &:nth-child(13){
                    .first, .second, .three{
                        h3{
                            margin-left: 40px;
                        }
                    }
                }
                &:nth-child(14){
                    .three, .fourth{
                        h3{
                            margin-left: 50px;
                        }
                    }
                }
                &:nth-child(15), &:nth-child(16), &:nth-child(17), &:nth-child(18){
                    .first, .second, .three, .fourth{
                        h3{
                            margin-left: 50px;
                        }
                    }
                }
                &:nth-child(19){
                    .first, .second{
                        h3{
                            margin-left: 40px;
                        }
                    }
                }
            }
            .last{
                margin-bottom: 50px;
                margin-right: 350px;
            }
        }
    .depoziteSafe{
        display: grid;
        grid-template-rows: repeat(2, auto);
            .line{
                display: grid;
                grid-template-columns: repeat(4, auto);
                margin-top: 50px;
                justify-items: center;
                .first, .second, .three, .fourth{
                    border-bottom: 2px solid black;
                    h3{
                        margin-left: 20px;
                        margin-bottom: 30px;
                    }
                    img{
                        margin-left: 10px;
                    }
                    table{
                        margin-top: 20px;
                        margin-left: -20px;
                        tr{
                            td{
                                margin-left: -30px;
                                padding-top: 10px;
                                &:nth-child(2){
                                    text-align: right;
                                    padding-left: 30px;
                                }
                            }
                        }
                    }
                    p{
                        text-align: center;
                        margin-top: 15px;
                        margin-bottom: 20px;
                        span{
                            color: #10cabf;
                        }
                    }
                }
                &:nth-child(1){
                    .first, .fourth{
                        h3{
                            margin-left: 30px;
                        }
                    }
                }
                &:nth-child(2){
                    .fourth{
                        h3{
                            margin-left: 40px;
                        }
                    }
                }
            }
            .last{
                margin-bottom: 50px;
            }
    }
    .hotel{
        display: grid;
        grid-template-rows: repeat(2, auto);
            .line{
                display: grid;
                grid-template-columns: repeat(4, auto);
                margin-top: 50px;
                justify-items: center;
                margin-bottom: 50px;
                .first, .second, .three, .fourth{
                    border-bottom: 2px solid black;
                    h3{
                        margin-left: 40px;
                        margin-bottom: 30px;
                    }
                    img{
                        margin-left: 10px;
                    }
                    table{
                        margin-top: 20px;
                        margin-left: -20px;
                        tr{
                            td{
                                margin-left: -30px;
                                padding-top: 10px;
                                &:nth-child(2){
                                    text-align: right;
                                    padding-left: 30px;
                                }
                            }
                        }
                    }
                    p{
                        text-align: center;
                        margin-top: 15px;
                        margin-bottom: 20px;
                        span{
                            color: #10cabf;
                        }
                    }
                }
            }
    }
    .received{
        display: grid;
        grid-template-rows: repeat(5, auto);
            .line{
                display: grid;
                grid-template-columns: repeat(4, auto);
                margin-top: 50px;
                justify-items: center;
                margin-bottom: 50px;
                .first, .second, .three, .fourth{
                    border-bottom: 2px solid black;
                    h3{
                        margin-left: 20px;
                        margin-bottom: 30px;
                    }
                    img{
                        margin-left: 10px;
                    }
                    table{
                        margin-top: 20px;
                        margin-left: -20px;
                        tr{
                            td{
                                margin-left: -30px;
                                padding-top: 10px;
                                &:nth-child(2){
                                    text-align: right;
                                    padding-left: 30px;
                                }
                            }
                        }
                    }
                    p{
                        text-align: center;
                        margin-top: 15px;
                        margin-bottom: 20px;
                        span{
                            color: #10cabf;
                        }
                    }
                }
                &:nth-child(2), &:nth-child(3){
                    .first, .second, .three, .fourth{
                        h3{
                            margin-left: 10px;
                        }
                    }
                }
                &:nth-child(4){
                    .first, .second, .three, .fourth{
                        h3{
                            margin-left: 30px;
                        }
                    }
                }
            }
        .last{
            margin-right: 350px;
        }
    }
    .seriaW{
        .line{
            .first, .second, .three, .fourth{
                h3{
                    margin-left: 20px;
                }
                img{
                    margin-left: 10px;
                }
            }
            &:nth-child(2){
                .first, .second, .three, .fourth{
                    img{
                        margin-left: 0;
                    }
                }
            }
            &:nth-child(3){
                .first, .second{
                    h3{
                        margin-left: 10px;
                    }
                    img{
                        margin-left: 0;
                    }
                }
            }
        }
        .last{
            margin-right: 400px;
            margin-bottom: 50px;
        }
    }
    .seriaEx{
        .line{
            .first, .second, .three, .fourth{
                img{
                    margin-left: 10px;
                }
                h3{
                    margin-left: 20px;
                }
            }
            &:nth-child(4){
                .first, .second{
                    h3{
                        margin-left: 10px;
                    }
                }
            }
        }
        #three{
            .first, .second, .three, .fourth{
                h3{
                    margin-left: 20px;
                }
            }
        }
        .last{
            margin-right: 400px;
            margin-bottom: 50px;
        }
    }
    .akss{
        .line{
            .first, .second, .three{
                img{
                    margin-left: 20px;
                }
            }
            .fourth{
                    h3{
                        margin-left: 0;
                    }
                    img{
                        margin-left: 30px;
                    }
            }
            &:nth-child(2){
                .first{
                    h3{
                        margin-left: 10px;
                    }
                }
                .second{
                    img{
                        width: 120px;
                        height: 160px;
                    }
                }
                .three{
                    h3{
                        margin-left: 40px;
                    }
                    img{
                        margin-left: 10px;
                    }
                }
                .fourth{
                    img{
                        margin-left: 10px;
                    }
                    h3{
                        margin-left: 30px;
                    }
                }
            }
        }
        #three{
            .second, .three, .fourth{
                h3{
                    margin-left: 10px;
                }
            }
            .fourth{
                img{
                    margin-left: 0px;
                }
            }
        }
        .last{
            margin-right: 400px;
            margin-bottom: 50px;
        }
    }
    .seriaGar{
        .line{
            .first, .second, .three, .fourth{
                img{
                    margin-left: 20px;
                }
            }
            &:nth-child(2){
                .first{
                    img{
                        margin-left: 0;
                    }
                }
                .second{
                    h3{
                        margin-left: 0px;
                    }
                }
                .three{
                    h3{
                        margin-left: 50px;
                    }
                }
                .fourth{
                    img{
                        margin-left: 40px;
                    }
                }
            }
        }
        .last{
            margin-bottom: 50px;
        }
    }
    .seriaMas{
        .line{
            .first, .second, .three, .fourth{
                img{
                    margin-left: 20px;
                }
            }
        }
        .last{
            margin-right: 200px;
            margin-bottom: 50px;
        }
    }
    .telega{
        .line{
            .first, .second, .three, .fourth{
                h3{
                    text-align: center;
                    margin-left: 0;
                }
                img{
                    margin-left: 10px;
                }
            }
            &:nth-child(4), &:nth-child(5), &:nth-child(7){
                .first, .second, .three, .fourth{
                    h3{
                        margin-left: 10px;
                    }
                    img{
                        margin-left: 20px;
                    }
                }
            }
        }
        #three{
            .first, .second, .three, .fourth{
                h3{
                    margin-left: 0px;
                }
                img{
                    margin-left: 0px;
                }
            }
        }
        .last{
            margin-right: 600px;
            margin-bottom: 50px;
        }
    }
    .shkaf{
        .line{
            .first, .second, .three, .fourth{
                h3{
                    margin-left: 20px;
                }
                img{
                    margin-left: 10px;
                }
            }
            &:nth-child(4), &:nth-child(5), &:nth-child(7){
                .first, .second, .three, .fourth{
                    h3{
                        margin-left: 30px;
                    }
                    img{
                        margin-left: 10px;
                    }
                }
            }
        }
        #three{
            .first, .second, .three, .fourth{
                h3{
                    margin-left: 20px;
                }
                img{
                    margin-left: 10px;
                }
            }
        }
        .last{
            margin-bottom: 50px;
        }
    }
    .shkafTerm{
        .line{
            .first, .second, .three, .fourth{
                h3{
                    margin-left: 10px;
                }
            }
        }
        .last{
            margin-bottom: 50px;
            margin-right: 400px;
        }
    }
    .metall_meb{
        display: grid;
        grid-template-rows: repeat(11, auto);
        .line{
            display: grid;
            grid-template-columns: repeat(4, auto);
            margin-top: 50px;
            justify-items: center;
            .first, .second, .three, .fourth{
                border-bottom: 2px solid black;
                h3{
                    margin-left: 25px;
                    margin-bottom: 30px;
                }
                img{
                    margin-left: 20px;
                }
                table{
                    margin-top: 20px;
                    margin-left: -30px;
                    tr{
                        td{
                            margin-left: -30px;
                            padding-top: 10px;
                            &:nth-child(2){
                                text-align: right;
                                padding-left: 30px;
                            }
                        }
                    }
                }
                p{
                    text-align: center;
                    margin-top: 15px;
                    margin-bottom: 20px;
                    span{
                        color: #10cabf;
                    }
                }
            }
            &:nth-child(2){
                .three{
                    img{
                        margin-left: 40px;
                    }
                    h3{
                        margin-left: 50px;
                    }
                }
            }
            &:nth-child(3){
                .three{
                    h3{
                        margin-left: 30px;
                    }
                }
            }
            &:nth-child(4), &:nth-child(5){
                .first, .second, .three, .fourth{
                    img{
                        margin-left: 10px;
                    }
                    h3{
                        margin-left: 30px;
                    }
                }
            }
        }
        .last{
            margin-right: 600px;
        }
        .go_back{
            display: inline-flex;
            font-family: 'Philosopher', sans-serif;
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 20px;
            margin-top: 50px;
            p{
                margin-top: 5px;
                margin-left: 20px;
            }
        }
    }
    .kartot{
        .line{
            margin-left: -20px;
            .first, .second, .three, .fourth{
                img{
                    margin-left: 0px;
                }
                h3{
                    margin-left: 10px;
                }
            }
            &:nth-child(2){
                .three{
                    img{
                        margin-left: 0px;
                    }
                    h3{
                        margin-left: 10px;
                    }
                }
            }
            &:nth-child(3){
                .first, .second, .three, .fourth{
                    img{
                        margin-left: 0px;
                    }
                    h3{
                        margin-left: 10px;
                    }
                }
            }
        }
        .last{
            margin-right: 200px;
        }
    }
    .ofice{
        .line{
            .first, .second, .three, .fourth{
                img{
                    margin-left: 0px;
                }
                h3{
                    margin-left: 10px;
                }
            }
            &:nth-child(2){
                .three{
                    img{
                        margin-left: 0px;
                    }
                    h3{
                        margin-left: 10px;
                    }
                }
            }
            &:nth-child(3){
                .first, .second, .three, .fourth{
                    img{
                        margin-left: 0px;
                    }
                    h3{
                        margin-left: 30px;
                    }
                }
            }
            &:nth-child(5){
                .first, .second, .three, .fourth{
                    img{
                        margin-left: 0px;
                    }
                    h3{
                        margin-left: 0px;
                    }
                }
            }
        }
        .last{
            margin-right: 400px;
        
        }
    }
    .mobLoc{
        .line{
            .first, .second, .three, .fourth{
                img{
                    margin-left: 0px;
                }
                h3{
                    margin-left: 10px;
                }
            }
            &:nth-child(2){
                .three{
                    img{
                        margin-left: 0px;
                    }
                    h3{
                        margin-left: 10px;
                    }
                }
            }
            &:nth-child(3){
                .first, .second, .three, .fourth{
                    img{
                        margin-left: 20px;
                    }
                    h3{
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    /*подвал*/
    footer{
        background: url(../../img/bg/dark-oak-wood-grain-chipboard-4k-2160p-uhd-panning-footage-dark-texture-lin_ej9rjkv5l__F0000.png) no-repeat center center;
        color: #10cabf;
        .footer{
            display: grid;
            grid-template-columns: auto auto;
            margin-top: 50px;
            nav{
                display: inline-flex;
                justify-content: space-between;
                align-content: center;
                font-weight: 700;
                text-transform: uppercase;
                margin-left: -25px;
                margin-top: 7px;
                a{
                    color: #10cabf;
                    padding-right: 20px;
                    padding-bottom: 10px;
                    &:not(:first-child){
                        display: none;
                    }
                }
                ul{
                    padding-top: 10px;
                }
                li{
                    padding-bottom: 10px;
                    font-size: 14px;
                    font-weight: normal;
                    text-transform: none;
                }
                #sochial{
                    img{
                        width: 40px;
                        height: 40px;
                    }
                    display: flex;
                    a{
                    height: 40px;
                    display: inline-block;
                    padding-left: 20px;
                    padding-top: 20px;
                    position: relative;
                    top: 100px;
                    left: 580px;
                        :first-child{
                             left: 560px;
                        }
                    }
                }
            }
            .footer_cont{
                font-family: 'Philosopher', sans-serif;
                font-size: 16px;
                line-height: 24px;
                padding-bottom: 10px;
                text-align: right;
            }
        }
    }
}